

<div class="outer-container">
  
  <mat-card class="example-card1 example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title >Warning Statistics</mat-card-title>
      <mat-card-subtitle>For past 5 weeks</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="card-content-one">
      <div>
        <app-pie-chart></app-pie-chart>
      </div>
      <div style="width: 350px; height: 300px;">
        <app-bar-chart-warnings ></app-bar-chart-warnings>
      </div>
      
    </mat-card-content>
    
  </mat-card>
  
  <mat-card class="example-card2 example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Production Statistics</mat-card-title>
      <mat-card-subtitle>For past 5 weeks</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="card-content-two">
      <div style="width: 350px; height: 200px;">
        <app-line-chart-production></app-line-chart-production>
      </div>
      <div style="width: 350px; height: 200px;">
        <app-bar-chart-production></app-bar-chart-production>
      </div>
      
    </mat-card-content>
    
  </mat-card>
  


  <mat-card class="example-card3 example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Consumption Statistics</mat-card-title>
      <mat-card-subtitle>For past 5 weeks</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content class="card-content-three">
      <div style="width: 350px; height: 200px;">
        <app-line-chart-consumption></app-line-chart-consumption>
      </div>
      
      <div style="width: 350px; height: 200px;">
        <app-bar-chart-consumption></app-bar-chart-consumption>
      </div>
    </mat-card-content>
    
  </mat-card>
</div>
