<div class="warning-detail {{ mock.data.status_code===0 ? 'normal': 'warning'}}">
    <div class="normal-message">正常运行</div>
    <div class="label-chinese">{{ mock.data.status_code===0 ? '': mock.data?.lable_CHinese }}</div>
    <div class="function-label">{{ mock.data.status_code===0 ? '': mock.data.funCTion_label_p }}</div>
    <div class="group-label">{{ mock.data.status_code===0 ? '':  '机器: ' + mock.data.maCHine_label_p}}</div>
    <div class="machine-label">{{ mock.data.status_code===0 ? '':   '组件: ' + mock.data.group_label_p}}</div>
</div>